<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/static/uploads/favicon.png" />
  <title>FoodGRAM</title>
</head>

<body>
  <div class="topcontainer">
    <section class="flex">
      <a href="{{ url_for('home') }}"><span>FoodGram</span></a>
      <div class="nav">
        <ul>
          {% if session['logged_in'] %}
          <li>Hello, {{session['username']}}</li>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li> <a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/">Home</a></li>
          <li><a href="/upload">Upload</a></li>
          <li> <a href="/login">Login</a></li>
          <li> <a href="/signup">Register</a></li>
          {% endif %}

        </ul>
      </div>
    </section>
  </div>
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
  </div>

</body>

</html>
