{% extends 'base.html' %}
{% block content %}

<h1>{% block title %} Welcome to FOODgram {% endblock %}</h1>

{% if posts %}
<section class="flex">
    <div class="container">
        <div class="row">
            <div class="featuredPhoto">
                <img class="mainPhoto" src="{{posts[0]['photo']}}" alt="">
            </div>
        </div>
    </div>
</section>
{% endif %}

<div>
    <h1>
        What is everyone eating? {{user}}
    </h1>
</div>

<div class="myContainer">
    <script>
        var myVars = [];
    </script>
    {% for post in posts %}
    <div class="pictures">
        <a href="{{ url_for('post', id=post['id']) }}">
            <h1>{{ post['title'] }}</h1>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>

        <a href="{{ url_for('post', id=post['id']) }}"><img class="myPhoto" src={{ post['photo']}}>
        </a>

    </div>
    <script>
        myVars.push('{{ post["photo"] }}')
    </script>
    {% endfor %}
</div>

{% endblock %}
