<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;1,100&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>FOODGram</title>
</head>

<body>
  <div class="indexpage">
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <div class="centered-title">FOODgram</div>
          <div class="centered-smalltitle">a food-fighting website.</div>
          <div class="btn-toolbar">
            <a href="{{url_for('login')}}" class="btn btn-primary">Login</a>
            <a href="{{url_for('signup')}}" class="btn btn-default">Sign Up</a>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </div>
</body>

</html>
